<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>李志</string>
		<key>detail</key>
		<array>
			<dict>
				<key>CDimage</key>
				<string>fangao</string>
				<key>CDname</key>
				<string>梵高先生</string>
				<key>CDprice</key>
				<string>10</string>
				<key>CDchooseCount</key>
				<string>1</string>
			</dict>
			<dict>
				<key>CDimage</key>
				<string>nanjing</string>
				<key>CDname</key>
				<string>你离开了南京，从此在也没人和我说话</string>
				<key>CDprice</key>
				<string>20</string>
				<key>CDchooseCount</key>
				<string>1</string>
			</dict>
			<dict>
				<key>CDimage</key>
				<string>zhengzhou</string>
				<key>CDname</key>
				<string>关于郑州的记忆</string>
				<key>CDprice</key>
				<string>30</string>
				<key>CDchooseCount</key>
				<string>1</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>左小祖咒</string>
		<key>detail</key>
		<array>
			<dict>
				<key>CDimage</key>
				<string>wulanbatuo</string>
				<key>CDname</key>
				<string>乌兰巴托的夜</string>
				<key>CDprice</key>
				<string>40</string>
				<key>CDchooseCount</key>
				<string>1</string>
			</dict>
			<dict>
				<key>CDimage</key>
				<string>zuoxiao</string>
				<key>CDname</key>
				<string>小莉</string>
				<key>CDprice</key>
				<string>30</string>
				<key>CDchooseCount</key>
				<string>1</string>
			</dict>
			<dict>
				<key>CDimage</key>
				<string>爱情的枪</string>
				<key>CDname</key>
				<string>爱情的枪</string>
				<key>CDprice</key>
				<string>50</string>
				<key>CDchooseCount</key>
				<string>1</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>adele</string>
		<key>detail</key>
		<array>
			<dict>
				<key>CDimage</key>
				<string>adeleIcon</string>
				<key>CDname</key>
				<string>some one like you</string>
				<key>CDprice</key>
				<string>100</string>
				<key>CDchooseCount</key>
				<string>1</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>田馥甄</string>
		<key>detail</key>
		<array>
			<dict>
				<key>CDimage</key>
				<string>mylove</string>
				<key>CDname</key>
				<string>My Love</string>
				<key>CDprice</key>
				<string>60</string>
				<key>CDchooseCount</key>
				<string>1</string>
			</dict>
			<dict>
				<key>CDimage</key>
				<string>banlv</string>
				<key>CDname</key>
				<string>灵魂伴侣</string>
				<key>CDprice</key>
				<string>70</string>
				<key>CDchooseCount</key>
				<string>1</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>王菲</string>
		<key>detail</key>
		<array>
			<dict>
				<key>CDimage</key>
				<string>anyong</string>
				<key>CDname</key>
				<string>暗涌</string>
				<key>CDprice</key>
				<string>20</string>
				<key>CDchooseCount</key>
				<string>1</string>
			</dict>
			<dict>
				<key>CDimage</key>
				<string>wangfei</string>
				<key>CDname</key>
				<string>百年孤寂</string>
				<key>CDprice</key>
				<string>200</string>
				<key>CDchooseCount</key>
				<string>1</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
